<!DOCTYPE html>
<html>
  <head>
    <title>AjaxStudents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= javascript_include_tag 'application' %>
</html>
